/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Dec 9, 2020, 10:14:44 AM
    Author     : User
*/

*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: fit-content;
}

.container {
    background: ghostwhite;
    position: relative;
    width: 900px;
    height: auto;
}

.header {
    background-image: url(img/img8.jpg);
    width: 100%;
    height: 80px;
}

.header .logo {
    display: inline-block;
    padding: 20px 10px;
}

.header .logo .logo-img {
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.header .company-name {
    cursor: pointer;
    display: inline;
    color: cyan;
}

.header .company-name .brand-name {
    display: inline;
}

.body {
    position: relative;
}

.menu-bar {
    background: lightgray;
    display: inline-block;
    width: 15%;
    height: 530px;
}

.menu-bar a {
    display: block;
    color: black;
    text-decoration: none;
    background: lightslategray;
    padding: 9px 40px;
    border-bottom: 1px solid black;
}

.menu-bar a:hover {
    background: darkgrey;
    color: white;
    border-bottom: 2.5px solid red;
}

.welcome {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 530px;
    margin-left: 4px;
}

.para {
    color: lightslategrey;
    text-align: justify;
    word-spacing: 5px;
    letter-spacing: 0.8px;
    padding: 12px;
}

.img-container {
    margin: 5px 8px;
}

.left-img {
    display: inline-block;
}

.left-img .body-img {
    width: 250px;
    height: 180px;
    /*margin-right: 55px;*/
}

.right-img {
    display: inline-block;
    float: right;
}

.right-img .body-img {
    width: 250px;
    height: 180px;
}

.div-footer {
    text-align: center;
    background-color: gray;
    /*margin-top: 530px;*/
    width: 100%;
    height: 50px;
}

.div-footer .footer-para {
    padding: 18px;
}